/* --------------------------
  Base
--------------------------- */
header {
    background-color: rgb(122, 138, 212);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px;
    align-items: center;
    color: white;
}

img {
    border-radius: 50%;
}

header h1 {
    font-size: 20px;
    justify-self: start;
    padding-left: 15px;
}

header p {
    font-size: 12px;
    font-weight: lighter;
    justify-self: start;
    padding-left: 10px;
}

header h1,
header h2 {
    font-weight: 300;
}

header img {
    width: 70%;
    padding-left: 10px;

}


header {
    display: grid;
    text-align: center;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-template-rows: 70px;
    align-items: center;
    justify-items: center;

}

nav {
    background-color: rgb(42, 45, 70);
    width: 100%;
}

.bell {
    border-right: 1px solid rgb(141, 140, 140);
}

.bell {
    fill: white;
    width: 45%;
    display: block;
    justify-self: end;
    padding-right: 10px;
}

.nav-links {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;

}


.nav-links a {
    display: grid;
}

.nav-links svg {
    fill: white;
}

.home,
.settings {
    width: 30%;
    padding: 10px;
}

.home {
    justify-self: end;
}

.settings {
    justify-self: start;
}

.bar-chart,
.members {
    width: 60%;
    padding: 10px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    font-size: 13px;
}

.rectangle {
    background-color: rgba(219, 174, 213, 0.164);
    border: 2px solid rgba(156, 139, 158, 0.137);
}

.alert {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(122, 138, 212);
    color: white;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.x {
    justify-self: end;
}

.border {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.mobile-title {
    margin-bottom: 0;
}

.social-section {
    display: grid;
    justify-items: center;
}

.title {
    width: 90%;

    font-size: small;
}

.social {
    display: grid;
    width: 90%;
    background-color: rgba(156, 139, 158, 0.137);
    border: 2px solid rgba(156, 139, 158, 0.404);
    color: rgb(141, 136, 141);
    border-radius: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 40px 70px;
    grid-template-areas:
        'icon social'
        'icon number';
    margin-bottom: 15px;
}

.icon-background {
    display: grid;
    width: 70%;
    height: 70%;
    background-color: rgb(122, 138, 212);
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    grid-area: icon;
    justify-self: center;
    align-self: center;
}

.social svg {
    fill: white;
    width: 50%;

}

.social h3 {
    color: rgb(122, 138, 212);
    padding-left: 5px;
}

.social p {
    font-size: 50px;
    margin: 0;
}

.center {
    display: grid;
    justify-items: center;
}

.social-widget {

    display: grid;
    justify-items: center;

}

.social-widget div {
    display: grid;
    justify-items: center;
    width: 90%;
    padding: 0;
    text-align: center;
}

.social-widget div img {
    width: 25%;
    padding-top: 15px;
}

.social-widget p {
    margin: 0;
}

.email {
    color: rgb(157, 164, 197);
}

.date {
    padding-bottom: 15px;
}

.last-social .date {
    padding-bottom: 6px;
}

.new-members,
.recent-activity {
    margin-bottom: 0;
}

.message-section,
.message-user {
    display: grid;
    justify-items: center;
}

.message-user {
    width: 90%;
}

input,
textarea {
    width: 100%;
    background-color: rgba(156, 139, 158, 0.137);
    border: 2px solid rgba(156, 139, 158, 0.404);
    border-radius: 5PX;
}

input[type="search"]::placeholder,
textarea::placeholder {
    color: rgba(156, 139, 158, 0.804);
    padding: 10px;
}

textarea {
    padding: 0;
}

input[type="search"] {
    padding: 10px 0px 10px 0px;
    margin-bottom: 15px;
}

input[type="submit"] {
    width: 101%;
    background-color: rgb(122, 138, 212);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 3px;
    border: none;
    font-size: small;
    font-weight: lighter;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(122, 138, 212);
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid rgba(190, 182, 190, 0.804);
    color: white;
    text-align: start;
    padding: 8px;
    padding-left: 60px;
}

.slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .5s;
    border: 2px solid rgba(159, 151, 160, 0.804);

}

input:checked+.slider:before {
    -webkit-transform: translateX(64px);
    -ms-transform: translateX(64px);
    transform: translateX(64px);
}

input:checked+.slider {
    padding: 8px;
}

.slider.rounded {
    border-radius: 34px;
}

.slider.rounded:before {
    border-radius: 50%;
}


/* --------------------------
    Keyframes
  --------------------------- */
@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

/* --------------------------
    SVG Styles
  --------------------------- */
.bell:hover {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: grow 1s ease-out backwards
}

/* --------------------------
    Media queries
  --------------------------- */