/* --------------------------
  Base
--------------------------- */
header {
    background-color: rgb(122, 138, 212);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px;
    align-items: center;
    color: white;
}

header h1 {
    font-size: 20px;
    justify-self: start;
    padding-left: 15px;
}

header p {
    font-size: 12px;
    font-weight: lighter;
    justify-self: start;
    padding-left: 10px;
}

header h1,
header h2 {
    font-weight: 300;
}

header img {
    border-radius: 50%;
    width: 70%;
    padding-left: 10px;

}


header {
    display: grid;
    text-align: center;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-template-rows: 70px;
    align-items: center;
    justify-items: center;

}

nav {
    background-color: rgb(42, 45, 70);
    width: 100%;
}

.bell {
    border-right: 1px solid rgb(141, 140, 140);
}

.bell {
    fill: white;
    width: 45%;
    display: block;
    justify-self: end;
    padding-right: 10px;
}

.nav-links {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: center;
    justify-items: center;

}


.nav-links a {
    display: grid;
}

.nav-links svg {
    fill: white;
}

.home,
.settings {
    width: 30%;
    padding: 10px;
}

.home {
    justify-self: end;
}

.settings {
    justify-self: start;
}

.bar-chart,
.members {
    width: 60%;
    padding: 10px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    font-size: 13px;
}

.rectangle {
    background-color: rgba(219, 174, 213, 0.164);
    border: 2px solid rgba(156, 139, 158, 0.137);
}

.alert {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(122, 138, 212);
    color: white;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.x {
    justify-self: end;
}

.border {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.mobile-title {
    margin-bottom: 0;
}

.social {
    display: grid;
    width: 90%;
    background-color: rgba(156, 139, 158, 0.137);
    border: 2px solid rgba(156, 139, 158, 0.404);
    border-radius: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 50px;
    grid-template-areas:
        'icon social'
        'icon number';
}

.icon-background {
    display: grid;
    width: 70%;
    height: 70%;
    background-color: rgb(122, 138, 212);
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    grid-area: icon;
    justify-self: center;
    align-self: center;
}

.social svg {
    fill: white;
    width: 50%;

}

.social h3 {
    color: rgb(122, 138, 212);
}

.social p {
    font-size: 50px;
    margin: 0;
}

/* --------------------------
    Keyframes
  --------------------------- */
@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

/* --------------------------
    SVG Styles
  --------------------------- */
.bell:hover {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: grow 1s ease-out backwards
}

/* --------------------------
    Media queries
  --------------------------- */